<launch>
	<arg name="gui" default="true" />
	<arg name="kinova_robotType" default="m1n6s200" />
	<param name="robot_description" command="$(find xacro)/xacro '$(find kinova_description)/urdf/$(arg kinova_robotType)_standalone.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="zeros/$(arg kinova_robotType)_joint_2" value="3.1415"/>
		<param name="zeros/$(arg kinova_robotType)_joint_3" value="3.1415"/>
	  	<param name="zeros/$(arg kinova_robotType)_joint_4" value="3.1415"/> 
	</node> 

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinova_description)/urdf.rviz" />
</launch>

